$base-color-mint: #d8f5e8;

$base-color-teal: #2accc3;

$base-color-gold: #ffbc17;

$base-color-tomato: #ff623f;

$base-color-grey: #ebecef;

$font-family-1: Montserrat;

$font-family-2: "'Open Sans', sans-serif";

$font-family-3: "'Bree Serif', serif";

$font-size-normal: 30px;

$font-style-italic: italic;

$font-weight-bold: bold;

$text-uppercase: uppercase;

$text-lowercase: lowercase;